src/forcefinder/__pycache__/__init__.cpython-311.pyc
src/forcefinder/__pycache__/auto_regularization.cpython-311.pyc
src/forcefinder/__pycache__/source_path_receiver.cpython-311.pyc
src/forcefinder/__pycache__/sparse_functions.cpython-311.pyc
src/forcefinder.egg-info/dependency_links.txt
src/forcefinder.egg-info/PKG-INFO
src/forcefinder.egg-info/requires.txt
src/forcefinder.egg-info/SOURCES.txt
src/forcefinder.egg-info/top_level.txt
.spyproject/**
**/__pycache__/**
**/old*/**
**/*.dll
**/~$*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.lof
**/*.lot
**/*.toc
**/*.synctex.gz
**/*.pdf
**/MATLAB_REFERENCE/**
**/_autosummary/**
doc/**
test_scripts/**
src/sdynpy.egg-info/**
report.xml
.coverage
docs/build/**
build/**
dist/**
reports/**
**/.ipynb_checkpoints/**
*.pyc
src/forcefinder/core/__pycache__/transient_utilities.cpython-311.pyc
src/forcefinder/core/__pycache__/source_path_receiver.cpython-311.pyc
